* {
  box-sizing: border-box;
}

body {
  --page-fg: #333;
  --page-bg: #fff;
  --link-fg: #16d;
  --red-bg: #ebb;
  --btn-bg: #ddd;
  --border-radius: 0.2em;

  max-width: 65ch;
  margin: 0 auto;
  padding: 0.5em 0.5em 8em;
  color: var(--page-fg);
  background-color: var(--page-bg);
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  body {
    --page-fg: #ddd;
    --page-bg: #333;
    --link-fg: #5af;
    --red-bg: #844;
    --btn-bg: #555;
  }
}

a,
a:visited {
  color: var(--link-fg);
}

pre,
code {
  font-family: Input, Menlo, Consolas, monospace;
}

ul,
ol {
  padding-inline-start: 2em;
}

input[type="text"] {
  background: none;
  font-family: inherit;
  color: inherit;
  border: 1px solid;
  padding: 1px;
  border-radius: var(--border-radius);
}

button {
  background: var(--btn-bg);
  font-family: inherit;
  color: inherit;
  border: 1px solid;
  border-radius: var(--border-radius);
}

.bg-red {
  background-color: var(--red-bg);
}

.round-box {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid;
  border-radius: var(--border-radius);
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}
